.article-page_footer {
   display: flex;
   justify-content: space-between;
   padding: 0;
   background-color: #fff;
   color: #000;
}

.footer-left,
.footer-right {
   display: flex;
   align-items: center;
   gap: 35px;
}

.arrow-link {
   display: flex;
   align-self: end;
}

.bold {
   font-weight: bold;
   margin-left: 5px;
}

.footer-right img {
   transform: rotate(180deg);
}

@media (max-width: 1000px) {
   .arrow {
      width: 75px;
   }
}

@media (max-width: 800px) {

   .footer-left,
   .footer-right {
      gap: 10px;
   }

   .article-page_footer {
      gap: 10px;
   }
}

@media (max-width: 550px) {
   .bold {
      display: none;
   }

   .arrow {
      width: 50px;
   }
}