.article-page_back {
   height: 590px;
   margin-bottom: 55px;
}

.first-article-page {
   background-image: url('../../../img/first-article.png');
   background-size: cover;
   background-position: center;
}

.second-article-page {
   background-image: url('../../../img/second-article.png');
   background-size: cover;
   background-position: center;
}

.article-page_content,
.article-page_author {
   max-width: 652px;
   margin: 0 auto;
   margin-bottom: 72px;
}

.article-page_content .title {
   font-size: 42px;
   text-align: center;
}

.article-page_content .time-mark {
   text-align: center;
}

.article-page_author>p {
   color: #1C1C1C80;
   margin-bottom: 5px;
}

.article-page_autho-wrapper {
   display: flex;
   align-items: center;
   gap: 35px;
}

/* //Media queries */

@media (max-width: 1000px) {
   .article-page_back {
      height: 400px;
   }
}

@media (max-width: 850px) {
   .article-page_back {
      height: 300px;
   }
}

@media (max-width: 650px) {
   .article-page_back {
      height: 200px;
   }

   .article-page_content .title {
      font-size: 28px;
   }

   .article-page_autho-wrapper .text {
      font-size: 14px;
   }

   .article-page_autho-wrapper {
      gap: 20px;
      flex-direction: column;
   }

   .author_content {
      text-align: center;
   }

   .article-page_author>p {
      text-align: center;
   }
}

@media (max-width: 450px) {
   .article-page_content .text {
      font-size: 14px;
   }
}