.main-about {
   max-width: 1245px;
   width: 100%;
   margin: 0 auto;
   padding: 0 10px;
}

.about__first-section {
   text-align: center;
   padding: 185px 0 200px 0;
}

.about__first-section p {
   max-width: 370px;
   margin: 0 auto;
   margin-top: 25px;
}

/* second section */
.about__second-section {
   background: #000;
   color: #fff;
   position: relative;
   padding-top: 145px;

}

.about__card img {
   align-self: start;
}

.line-one {
   height: 1016px;
   width: 8px;
   background: #fff;
   position: absolute;
   z-index: 2;
   top: 0;
   right: 195px;
}

.line-two {
   height: 1450px;
   width: 8px;
   background: #fff;
   position: absolute;
   z-index: 2;
   bottom: 0;
   left: 160px;
}

.about__card__info {
   max-width: 435px;
}

.about__card__info-title {
   font-size: 42px;
   margin-bottom: 15px;
}

.about__card {
   display: flex;
   gap: 50px;
   position: relative;
   z-index: 3;
}

.about__card__info-first {
   padding-top: 30px;
   margin-left: 95px;
}

.about__card-second {
   flex-direction: column;
   max-width: 557px;
   align-items: center;
   position: relative;
   z-index: 3;
   top: -105px;
   left: 317px;
}

.about__card-third {
   flex-direction: column;
   padding-bottom: 140px;
}

.about__card__info-third {
   margin-left: 235px;
}

.about__img-wrapper {
   display: flex;
   gap: 20px;
   justify-content: end;
}

/* third section */

.about__third-section h2 {
   font-size: 42px;
   max-width: 427px;
   margin: 0 auto;
   margin-bottom: 35px;
}

.about__third-section p {
   max-width: 427px;
   margin: 0 auto;
}

.about__third-section {
   text-align: center;
   padding: 235px 0;
}

/* // Media querise */

@media (max-width: 1200px) {
   .about__card__info-first {
      margin-left: 40px;
   }

   .about__card__info__img:not(:last-child) {
      padding-right: 10px;
   }
}

@media (max-width: 1100px) {
   .about__card-second {
      top: -80px;
   }
}

@media (max-width: 1060px) {
   .about__img-wrapper img {
      height: 280px;
   }

   .about__card-second {
      left: 0;
      top: 0;
      flex-direction: row;
      max-width: 100%;
   }

   .about__card__info-first,
   .about__card__info-third {
      margin-left: 30px;
   }

   .about__card__info-second {
      margin-right: 30px;
   }

   .about__card__info {
      background-color: #000;
   }

   .about__card:not(:last-child) {
      margin-bottom: 40px;
   }

   .about__card__info-title {
      font-size: 33px;
   }

   .about__third-section h2 {
      font-size: 33px;
   }


}

@media (max-width: 950px) {
   .p1 {
      width: 40%;
   }

   .about__card img {
      align-self: center;
   }

   .about__card {
      gap: 10px;
   }

   .about__card__info {
      padding: 0;
   }

   .line-one,
   .line-two {
      display: none;
   }

   .about__card-first {
      justify-content: end;
   }
}

@media (max-width: 866px) {
   .about__img-wrapper img {
      height: 180px;
   }

}

@media (max-width: 670px) {
   .about__card-first {
      flex-direction: column-reverse;
      align-items: center;
   }

   .about__card-second {
      flex-direction: column;
      align-items: center;
   }

   .about__card-third {
      align-items: center;
      padding-bottom: 0;
   }

   .about__card__info {
      padding: 0;
      margin: 0;
   }

   .about__card__info-title {
      text-align: center;
   }

   .about__second-section {
      padding: 20px 15px;
   }

   .about__card__info-title {
      font-size: 26px;
   }

   .about__first-section,
   .about__third-section {
      padding: 75px 0;
   }
}



@media (max-width: 589px) {
   .about__img-wrapper img {
      height: 120px;
   }

   .about__third-section h2 {
      font-size: 26px;
   }

   .about_logo {
      width: 50%;
   }
}

@media (max-width: 423px) {
   .about__card__info__img {
      display: none;
   }

   .about__first-section,
   .about__third-section {
      padding: 35px 0;
   }
}