.main-about {
   max-width: 1245px;
   width: 100%;
   margin: 0 auto;
   padding: 0 10px;
}

.about_first-section {
   text-align: center;
   padding: 185px 0 200px 0;
}

.about_first-section p {
   max-width: 370px;
   margin: 0 auto;
   margin-top: 25px;
}

.about_logo {
   width: 251px;
}

/* second section */
.about_second-section {
   background: #000;
   color: #fff;
   position: relative;
   padding-top: 145px;

}

.about_card img {
   align-self: start;
}

.about_second-section::after {
   content: '';
   height: 1016px;
   width: 8px;
   background: #fff;
   position: absolute;
   z-index: 2;
   top: 0;
   right: 195px;
}

.about_second-section::before {
   content: '';
   height: 1450px;
   width: 8px;
   background: #fff;
   position: absolute;
   z-index: 2;
   bottom: 0;
   left: 160px;
}

.about_card_info {
   max-width: 435px;
}

.about_card_info-title {
   font-size: 42px;
   margin-bottom: 15px;
}

.about_card {
   display: flex;
   gap: 50px;
   position: relative;
   z-index: 3;
}

.about_card_info-first {
   padding-top: 30px;
   margin-left: 95px;
}

.about_card-second {
   flex-direction: column;
   max-width: 557px;
   align-items: center;
   position: relative;
   z-index: 3;
   top: -105px;
   left: 317px;
}

.about_card-third {
   flex-direction: column;
   padding-bottom: 140px;
}

.about_card_info-third {
   margin-left: 235px;
}

.about_img-wrapper {
   display: flex;
   gap: 20px;
   justify-content: end;
}

/* third section */

.about_third-section h2 {
   font-size: 42px;
   max-width: 427px;
   margin: 0 auto;
   margin-bottom: 35px;
}

.about_third-section p {
   max-width: 427px;
   margin: 0 auto;
}

.about_third-section {
   text-align: center;
   padding: 235px 0;
}

/* // Media querise */

@media (max-width: 1250px) {
   .about_card-first {
      padding-right: 10px;
   }
}

@media (max-width: 1200px) {
   .about_card_info-first {
      margin-left: 40px;
   }

   .about_card_info_img:not(:last-child) {
      padding-right: 10px;
   }
}

@media (max-width: 1130px) {
   .about_img-wrapper img {
      height: 300px;
   }
}

@media (max-width: 1100px) {
   .about_card-second {
      top: -80px;
   }
}

@media (max-width: 1060px) {
   .about_img-wrapper img {
      height: 290px;
   }

   .about_card-second {
      left: 0;
      top: 0;
      flex-direction: row;
      max-width: 100%;
   }

   .about_card_info-first,
   .about_card_info-third {
      margin-left: 30px;
   }

   .about_card_info-second {
      margin-right: 30px;
   }

   .about_card-first {
      justify-content: end;
      padding-right: 0;
   }

   .about_card_info {
      background-color: #000;
   }

   .about_card:not(:last-child) {
      margin-bottom: 40px;
   }

   .about_card_info-title {
      font-size: 33px;
   }

   .about_third-section h2 {
      font-size: 33px;
   }


}

@media (max-width: 950px) {
   .p1 {
      width: 40%;
      align-self: start;
   }

   .about_card {
      gap: 10px;
   }

   .about_card_info {
      padding: 0;
   }

   .about_second-section::before,
   .about_second-section::after {
      height: 0;
   }

   .about_img-wrapper img {
      height: 230px;
   }

}

@media (max-width: 866px) {
   .about_img-wrapper img {
      height: 180px;
   }


}

@media (max-width: 670px) {
   .p1 {
      width: 60%;
      max-width: 100%;
   }

   .about_card img {
      align-self: center;
   }

   .about_card-first {
      flex-direction: column-reverse;
      align-items: center;
   }

   .about_card-second {
      flex-direction: column;
      align-items: center;
   }

   .about_card-third {
      align-items: center;
      padding-bottom: 0;
   }

   .about_card_info {
      padding: 0;
      margin: 0;
   }

   .about_card_info-title {
      text-align: center;
   }

   .about_second-section {
      padding: 20px 15px;
   }

   .about_card_info-title {
      font-size: 26px;
   }

   .about_first-section,
   .about_third-section {
      padding: 75px 0;
   }

   .about_card_info-text {
      text-align: center;
   }

   .about_img-wrapper {
      flex-direction: column;
   }

   .about_img-wrapper .about_card_info_img {
      padding: 0;
   }

}



@media (max-width: 589px) {
   /* .about_img-wrapper img {
      height: 120px;
   } */

   .about_third-section h2 {
      font-size: 26px;
   }

   .about_logo {
      width: 50%;
   }
}

@media (max-width: 423px) {
   /* .about_card_info_img {
      display: none;
   } */

   .about_first-section,
   .about_third-section {
      padding: 35px 0;
   }
}