.article {
   max-width: 1320px;
   height: 590px;
   position: absolute;
   left: 45px;
   margin-bottom: 50px;
}

.first-article {
   background-image: url('../../img/first-article.png');
   background-size: cover;
   position: relative;
   background-position: center;
   left: 0;
}

.second-article {
   background-image: url('../../img/second-article.png');
   background-size: cover;
   position: relative;
   left: 0;
   background-position: center;
}

.article__item {
   background: #fff;
   max-width: 510px;
   padding: 75px 40px 95px 40px;
   margin-left: 45px;
   display: inline-block;
}

.description {
   font-size: 20px;
   color: #1C1C1C80;
}

.uppercase {
   text-transform: uppercase;
}

.time-mark {
   font-size: 16px;
   color: #1C1C1C80;
   margin-bottom: 15px;
}

.title {
   font-size: 33px;
   font-weight: 700;
   font-family: 'Libre Baskerville', serif;
   margin-bottom: 10px;

}

.text:not(:last-child) {
   margin-bottom: 20px;
}

.second-article__article__item {
   position: absolute;
   right: 80px;
   top: 60px;

}

/* //Media queries */
@media (max-width: 900px) {
   .article__item {
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
   }
}

@media (max-width: 650px) {

   .first-article,
   .second-article {
      background-image: none;
      height: auto;
   }

   .article__item {
      padding: 20px;
      border: 2px solid;
      max-width: 100%;
      border-radius: 10px;
      position: static;
      left: 0;
      right: 0;
      transform: translate(0, 0);
   }

   .article {
      border-radius: 10px;
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
   }

   .article__item {
      text-align: center;
   }
}