footer {
   max-width: 1245px;
   margin: 0 auto;
   background-color: #000;
   padding: 120px 0px;
   color: #fff;
   text-align: center;
}

.footer_title {
   font-family: 'Libre Baskerville', serif;
   font-size: 33px;
   margin-bottom: 15px;
}

.footer_text {
   max-width: 330px;
   margin: 0 auto;
   margin-bottom: 25px;
}

.social a:not(:last-child) {
   margin-right: 15px;
}


/* // Media queries */
@media (max-width: 900px) {
   .footer {
      padding: 30px 0;
   }
}

@media (max-width: 600px) {
   .footer_title {
      font-size: 28px;
   }

   .footer_text {
      font-size: 14px;
   }
}