.header {
   margin-bottom: 40px;
   display: flex;
   justify-content: space-between;
   font-size: 20px;
   font-family: 'Libre Baskerville', serif;
   font-weight: 400;
}

.logo-img {
   width: 178px;
}

.left,
.nav-right {
   display: flex;
   align-items: center;
   gap: 10px;
}

/* active link */
.active {
   font-weight: 700;
   border-bottom: 2px solid #000;
}

.list-item {
   transition: all 0.05s ease-out;
}

.list-item:hover {
   border-bottom: 2px solid #000;
}

/* nav left */
.nav-list {
   display: flex;
   gap: 30px;
}

/* nav right */
.search-panel {
   opacity: 0;
   visibility: hidden;
   border: 2px solid #000;
   border-radius: 10px;
   height: 46px;
   display: flex;
   align-items: center;
   justify-content: end;
   padding: 0px 50px 0 10px;
   max-width: 360px;
   width: 100%;
   transition: all 0.3s ease;
}

.search-img {
   position: absolute;
   right: 5%;
   cursor: pointer;
   transition: all 0.3s ease;
}

.search-img:hover {
   transform: scale(1.1);
}

.search-panel.active-search {
   opacity: 1;
   visibility: visible;
}

.search {
   display: flex;
   align-items: center;
   position: relative;
   margin-left: 10px;
}

.btn {
   height: 46px;
   line-height: 46px;
   padding: 0px 35px;
   background-color: inherit;
   border: 2px solid #000;
   border-radius: 10px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.btn:hover {
   background-color: rgba(0, 0, 0);
   color: #fff;
}

/* // Media queries */

@media (max-width: 900px) {

   .header {
      flex-wrap: wrap;
      gap: 20px;
   }

   .left,
   .nav-right {
      width: 100%;
      justify-content: space-between;
   }

   .search {
      width: 100%;
      margin-left: 0;
   }

   .search-panel {
      max-width: 100%;
      padding-right: 60px;
      opacity: 1;
      visibility: visible;
   }

   .search-img {
      right: 10px;
   }
}

@media (max-width: 900px) {
   .display {
      display: none;
   }
}

@media (max-width: 450px) {
   .logo-img {
      display: none;
   }

   .left {
      justify-content: center;
   }
}