.container-tag {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

main {
   flex: 1 1 auto;
}

.tags_seatch-panel {
   border: 1px solid #000;
   border-radius: 10px;
   height: 46px;
   display: flex;
   align-items: center;
   justify-content: end;
   padding: 0px 10px;
   max-width: 710px;
   width: 100%;
   position: relative;
   height: 60px;
   padding: 0px 40px 0 10px;
   outline: none
}

.tags_search {
   position: relative;
   max-width: 710px;
   margin: 0 auto;
   margin-top: 190px;
   margin-bottom: 60px;
}

.tags_search-img {
   position: absolute;
   right: 10px;
   top: 15px;
}

.tags_buttons-group {
   max-width: 1175px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 15px;
   margin-bottom: 150px;
}

.tags_btn {
   height: 44px;
   line-height: 44px;
   padding: 0px 15px;
   background-color: inherit;
   border: 1px solid #000;
   border-radius: 50px;
   cursor: pointer;
   margin: 0;
   transition: all 0.3s ease;
}

.tags_btn a {
   display: block;
   line-height: 44px;
}

.tags_btn:hover {
   background-color: #000;
   color: #fff;
}

.tag_cards {
   max-width: 810px;
   margin: 0 auto;
   margin-top: 115px;
   margin-bottom: 115px;

}

.card_item-link:not(:last-child) {
   margin-bottom: 60px;
   display: block;
}

.tags_card-info {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.footer-tags {
   width: 100%;
}

/* //Media queries */
@media (max-width: 1000px) {
   .tags_seatch-panel {
      margin-top: 0;
      margin-bottom: 50px;
   }

   .tags_buttons-group {
      margin-bottom: 30px;
      margin-bottom: 50px;
   }
}

@media (max-width: 800px) {
   .tag_cards {
      margin: 0;
      margin-bottom: 20px;
   }

   .tag_cards .card_item {
      flex-direction: column;
   }

   .tags_card-info {
      text-align: center;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.5);
   }
}