.tags__seatch-panel {
   border: 1px solid #000;
   border-radius: 10px;
   height: 46px;
   display: flex;
   align-items: center;
   justify-content: end;
   padding: 0px 10px;
   max-width: 710px;
   width: 100%;
   position: relative;
   height: 60px;
   margin-top: 190px;
   margin-bottom: 60px;
   padding: 0px 40px 0 10px;
   outline: none
}

.tags__search {
   position: relative;
   max-width: 710px;
   margin: 0 auto;
}

.tags__search-img {
   position: absolute;
   right: 10px;
   top: 15px;
}

.tags__buttons-group{
   max-width: 1175px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 15px;
   margin-bottom: 150px;
}

.tags_btn{
   height: 44px;
   line-height: 44px;
   padding: 0px 15px;
   background-color: inherit;
   border: 1px solid #000;
   border-radius: 50px;
   cursor: pointer;
   margin: 0;
   transition: all 0.3s ease;
}

.tags_btn:hover{
   background-color: rgba(0, 0, 0);
   color: #fff;
}

.tag__cards{
   max-width: 810px;
   margin: 0 auto;
   margin-top: 115px;
   
}

.tags__card-info{
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}