/* CSS reset */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: inherit;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS reset */

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 25px 0px 25px;
}

.container-about {
  max-width: 1245px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 25px 0px 25px;
}

.lb {
  font-family: 'Libre Baskerville';
  font-weight: 400;
}

.os {
  font-family: 'Open Sans';
}

h1 {
  height: 0;
}